*{
    margin: 0;
    padding: 0;
}
.btn{
    padding: 15px 25px;
    border: none;
}

/* navigation bar styles */

nav{
    display: flex;
    background-color: rgb(187, 179, 179);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.main-logo{
    display: flex;
    align-items: center;
}
.main-logo h3{
    color: aqua;
}
.menu-bar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* Banner styles */

.banner-container{
    background-image: url("./asset/image/background.jpg"),
    linear-gradient(45deg, black, gray);
     background-blend-mode: overlay ;
    height: 100vh;
    text-align: center;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner{
    width: 70%;
    margin: auto;
}
.banner-title{
    font-size: 100px;
    margin-bottom: 20px;
}
.Digital{
    color: red;
}
.banner-description{
    font-size: 25px;
    width: 70%;
    margin: auto;

    margin-bottom: 30px;
}

.btn1{
    background-color: red;
    margin-right: 10px ;
}
